Flask>=3.0,<4
Flask-SQLAlchemy>=3.1,<4
Flask-Migrate>=4.0,<5
PyMySQL>=1.1,<2
psycopg[binary]>=3.2,<4
pandas>=2.2,<3
openpyxl>=3.1,<4
XlsxWriter>=3.2,<4
mlxtend>=0.23,<0.24
networkx>=3.2,<4
matplotlib>=3.8,<4
fpdf2>=2.7,<3
gunicorn>=23,<24
